<nav id="main-menu">
    <ul>
        <li>
            <a href="/">
                <span class="point-icon" >{{ readFile "static/images/pointinghand.svg" | safeHTML }}</span>
                Home
            </a>
        </li>
        <li>
            <a href="/notes">
                <span class="point-icon">{{ readFile "static/images/pointinghand.svg" | safeHTML }}</span>
                Notes</a
            >
        </li>
        <li>
            <a href="/about">
                <span class="point-icon" >{{ readFile "static/images/pointinghand.svg" | safeHTML }}</span>
                About</a
            >
        </li>
    </ul>
</nav>
