name: Build Hugo Site

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allow manual triggering
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"
          extended: true

      - name: Build Hugo site
        run: hugo --minify

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hugo-site-build
          path: public/
          retention-days: 7

      - name: Set up S3cmd cli tool
        uses: s3-actions/s3cmd@v2.0.0
        with:
          provider: scaleway
          region: nl-ams
          access_key: ${{ secrets.SCALEWAY_ACCESS_KEY }}
          secret_key: ${{ secrets.SCALEWAY_SECRET_KEY }}

      - name: Deploy to object storage
        run: |
          s3cmd sync --recursive --delete-removed --acl-public --guess-mime-type dist/* s3://art-site/
